<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
  @ineria()
</head>
<body>
  <main>
    <div>
      <h1 class="font-bold"> It Works! </h1>
    </div>
  </main>
</body>
</html>
